/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    overflow: auto; /* 스크롤 가능하게 설정 */
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* flex-start로 변경하여 페이지 상단에 맞춤 */
    background-color: #f4f4f9;
    padding: 20px 0; /* 상단과 하단에 여백을 추가하여 스크롤 여유 공간 확보 */
}

.container {
    background-color: #ffffff;
    padding: 10px 20px; /* 상단 10px, 하단 20px 패딩 설정 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-top: 60px; /* 상단 마진을 더 늘림 */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* 글자 크기를 조정 */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#submit-result {
    text-align: center;
    margin-top: 20px;
}

.section-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 반응형 디자인을 위한 @media 쿼리 */
@media (max-width: 600px) {
    .container {
        margin-top: 20px; /* 작은 화면에서 더 작은 상단 마진 적용 */
        padding: 10px; /* 작은 화면에서 패딩을 줄임 */
    }
    h1 {
        font-size: 20px; /* 작은 화면에서 더 작은 글자 크기 적용 */
    }
}
